/* CSS for Toggler Plugin
 * Written by Nimrod Tsabari
 * Since Version 0.1b
 * Relase Version 1.2
 */

.toggler-hide-ghost { display: none; }
.toggler-show-ghost { display: block; }
.toggler-hide-noghost { visibility: hidden; }
.toggler-show-noghost { visibility: visible; }
.toggler-block { display: block; }
.toggler-inline { display: inline-block; zoom: 1; *display: inline; }
.toggler-link, 
.toggler-link-ext { cursor: pointer; }
.toggler-icon-hide { display: none; }
.toggler-icon-show { display: inline-block; }
